@import "tailwindcss";


.blinking-cursor {
    font-weight: bold;
    color: orange;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: orange }
}

.active-link {
    color: #2536eb;
    position: relative;
}

.active-link span {
        transition: width 0.3s ease-in-out ;
        width: 100%
    }